.header{
   text-align: center;
   color: black;
font-family: 'Gilroy-SemiBold';
font-weight: 400;
font-size: 40px;
letter-spacing: 0%;
text-align: center;

}
.cardContainer{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 30px;
}