.headerContainer{
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    

}
.headerImage{
   width:5rem;
   height: 4.1rem;
  
}

.headerImage img{
    width:5rem;
    height: 4rem;
    object-fit: cover;
}

.navigation{
 display: flex;
gap: 2.5rem;
align-items: center;
}
h2{
    font-weight: 100;
}

.hamburger{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 768px) {
.navigation{
   display: none;
}
.hamburger{
    display: block;
    align-items: center;
    justify-content: center;
    
  }
  .button{
    display: none;
  }
  .headerContainer{
    justify-content: space-between;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.1);
  }
  
}