.footer{
   display: flex;
   margin-top: 100px;
   flex-direction: column;
   background-color: black;
   flex-wrap: wrap;
}
.footer-icons{
margin: 20px;
display: flex;
gap: 20px;
max-width: 112px;
}
.footer-paragraphs{
    margin-top: 20px;
    font-weight: 400; 
    color: #9095A0FF;
    font-family: Rubik; /* Body */
     font-size: 20px
}
.footer-options{
display: flex;
gap: 15px;
padding-top: 20px;
font-weight: 400; 
color: #9095A0FF; 
font-family: Rubik; /* Body */
padding-bottom: 10px;
}

.headerImage{
   width:7rem;
   height: 6rem;
   padding-top: 20px 20px 0px 0px;
}
.footerText{
      color: white;
      width:30rem;
      font-family: 'Gilroy-Medium';
       font-weight: 400;
       font-size: 16px;
       line-height: 24px;
       padding-top: 10px;
       padding-left: 10px;
       margin: 20px;
 }